@CHARSET "UTF-8";

h1 {
	text-align: center;
}

.homeLink {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color: #2E7CD4;
}

.homeLink:hover {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.homeLink a {
	display: block;
	padding: 4px;
	text-decoration: none;
	color: #fff;
}

.homeLink a:hover {
	background-color: #2EA4D4;
}