@CHARSET "UTF-8";

.homeLink {
	width: 300px;
	height: 30px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color: #2E7CD4;
}

.homeLink a {
	display: block;
	padding: 4px;
	text-decoration: none;
	color: #fff;
}

.homeLink a:hover {
	background-color: #2EA4D4;
}

#newrecordForm div {
	margin-top: 2px;
	margin-bottom: 2px;
}

#newrecordForm .input {
	width: 196px;
	border: 1px solid #ddd;
}

#newrecordForm .input:focus {
	border: 1px solid #2EA4D4;
}

#newrecordButton {
	width: 200px;
	height: 30px;
	margin-top: 4px;
	padding: 2px;
	text-align: center;
	background-color: #2E7CD4;
	border: 0px;
	color: #fff;
	font-size: 16px;
}

#newrecordButton:hover {
	background-color: #2EA4D4;
}

#recordTable {
	margin-left: auto;
	margin-right: auto;
	background: #aaa;
}

#recordTable #tableHeader {
	text-align: center;
	font-weight: bold;
	font-size: 24px;
}

#recordTable tr th {
	font-size: 18px;
	padding: 2px;
}

#recordTable tr td {
	font-size: 14px;
	padding: 2px;
}

.max {
	color: red;
}
	
.high {
	color: orange;
}

.medium {
	color: yellow;
}

.low {
	color: darkgreen;
}

.min {
	color: green;
}
